<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded hidden-xs-down">
        <button class="navbar-toggler navbar-toggler-right" type="buttton" data-toggle="collapse" data-target="#full-options" aria-controls="full-options" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="full-options">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cybersecurity">CYBERSECURITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#abilities">ABILITIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>              
        </div>
    </nav>
    <!-- Segment for Video -->
    <div class="video">
        <div class="col overlay">
            <span>PABLO CÉSAR CÓRDOVA MORALES</span><br>
            <span>Full stack developer and Web pentester</span>
        </div>
        <video id="video-welcome" autoplay>
            <source src="FinalVideo.mp4" type="video/mp4">
        </video>
    </div>
</header>
<!-- Segment for About me-->
<div>
    <div class="row" id="about">
        <div class="col segment-title">
            <span>ABOUT ME</span>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-lg-5 perfil">
                <span>
                    I am electronic enginneer I have worked many years with robotic and automatation but my true pasion is to be full-stack developer and in my free-time as web pentester, 
                    I consider me semi-senior programmer passionate for learn more and to can helping to do the digital world faster and safe.<br><br> 

                    When I coding I love the good practices and to share knowledges with the community because the only way to learn good is sharing and teaching.
                </span>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 align-self-center">
                <div class="image">
                    <img src="photo.jpg" height="200" width="200">
                </div>
                <div class="icons">
                    <a href="https://github.com/pablocordova" class="icon-git" target="_blank">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="http://stackoverflow.com/users/6763305/pablo-cesar-cordova-morales" class="icon-stack" target="_blank">
                        <i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i>
                    </a> 
                    <a href="https://twitter.com/PabloCordova77" class="icon-twitter" target="_blank">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Segment for Projects-->
<div class="segment-color">
    <div class="row" id="projects">
        <div class="col segment-title">
            <span>PROJECTS</span>
        </div>
    </div>
    <div class="container">
        <app-project [data]="{title:'Point sales system', description:'Software desktop of point sales system personalized for a store of electronics components.', footer: 'Zacetrex Company', tags:['Java', 'MySql', 'MVC']}">
        </app-project>
        <app-project [data]="{title:'Interface web for Robotic arm', description:'Interface web where communicate with a robotic arm and to able to do some controls.', footer: 'Kinema Systems', tags:['ROS', 'AngularJS', 'Bootstrap', 'Docker', 'Jenkins']}">
        </app-project>
        <app-project [data]="{title:'System tracking car via GPS', description:'Hardware and Software Web to track a garbage truck, equals as a software web commercial of GPS tracking but personalized.', footer: 'Yussef Simons - Perú', tags:['Jquery', 'Bootstrap', 'PHP', 'MySql', 'Arduino', 'GPS', 'GPRS']}">
        </app-project>
        <app-project [data]="{title:'Software HUB', description:'Software desktop for receive data from a radio and transmit the data to a server and vice versa.', footer: 'Modicon Company', tags:['C#', 'MVC', 'Sockets']}">
        </app-project>
        <app-project [data]="{title:'ANPR', description:'Automatic number plate recognition portable with an embedded system, its recognition is in real time.', footer: 'Mauricio Hartmann - Brasil', tags:['C++', 'OpenCV', 'Odroid XU-3']}">
        </app-project>
        <app-project [data]="{title:'INS', description:'Inertial navigation system module, to get data of movement 3D', footer: 'Simaqtel S.A.C', tags:['Dspics', 'IMU', 'GPS']}">
        </app-project>
        <app-project [data]="{title:'Missile simulator', description:'Virtual simulator for the shot and trajectory of a missile.', footer: 'Army of Perú', tags:['C++', 'Odroid XU-3', 'Dspics', 'IMU', 'Flightgear', 'Sockets']}">
        </app-project>
        <app-project [data]="{title:'Virtual shooting simulator', description:'Virtual game with 3D videos and real arms to practice shots.', footer: 'Army of Perú', tags:['C++', 'Python', 'Dspics', 'OpenCV']}">
        </app-project>
        <app-project [data]="{title:'This web page', description:'Developed with last web technologies for my presentation.', footer: '', tags:['Nodejs', 'Express', 'MongoDB', 'Angular 4']}">
        </app-project>
    </div>
</div>
<!-- Segment for Cybersecurity-->
<div>
    <div class="row" id="cybersecurity">
        <div class="col segment-title">
            <span>CYBERSECURITY</span>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center cybersecurity-text">
            <div class="col-12 col-sm-12 col-lg-8 ">
                <span>Businesses which I have helped to do their web safer.</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col cybersecurity-icons">
                <a href="https://backtrackacademy.com/security" target="_blank">
                    <img src="backtrackAcademy.jpg" width="140" height="65">
                </a>
                <a href="https://platzi.com/" target="_blank">
                    <img src="platzi.png" width="170" height="60">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Segment for Abilities-->
<div class="segment-color">
    <div class="row" id="abilities">
        <div class="col segment-title">
            <span>ABILITIES</span>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center abilities-title">
            <div class="col-12 col-sm-12 col-lg-8">
                <span>Skills</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                <ul class="no-bullets">
                    <app-abilities-start [count]="{number:5, name:'HTML5'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'CSS3'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'Bootstrap'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'Assembler'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'Java'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'Ansi-C'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'Javascript'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'Jquery'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:5, name:'AngularJS'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'PHP'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'MySQL'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'MVC Pattern'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'MongoDB'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'NodeJs'}"></app-abilities-start>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                <ul class="no-bullets">
                    <app-abilities-start [count]="{number:4, name:'Python'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'C#'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'C++'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:4, name:'Pentesting'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:3, name:'ROS'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:3, name:'Algorithms'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:3, name:'Moodle'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:2, name:'Laravel'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:2, name:'Angular'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:2, name:'Drupal'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:2, name:'Ruby on Rails'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:1, name:'React'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:1, name:'React Native'}"></app-abilities-start>
                    <app-abilities-start [count]="{number:1, name:'PostgreSQL'}"></app-abilities-start>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center abilities-title">
            <div class="col-12 col-sm-12 col-lg-8">
                <span>Tools</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                <ul class="no-bullets">
                    <app-abilities-start [count]="{number:4, name:'Docker'}"></app-abilities-start>   
                    <app-abilities-start [count]="{number:4, name:'Jenkins'}"></app-abilities-start>   
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                <ul class="no-bullets">
                    <app-abilities-start [count]="{number:4, name:'Git'}"></app-abilities-start>  
                    <app-abilities-start [count]="{number:4, name:'Bursuip'}"></app-abilities-start>  
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Segment for Contact-->
<div>
    <div class="row" id="contact">
        <div class="col segment-title">
            <span>CONTACT</span>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-lg-8">
                <form autocomplete="on" (ngSubmit)="saveForm()">
                    <legend>Full name</legend>
                    <div class="row">
                        <div class="form-group col-6">
                            <input type="text" class="form-control" name="fname" id="fname" maxlength="30" placeholder="Firstname" required [(ngModel)]="myContact.fname" >
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" name="sname" id="sname" maxlength="30" placeholder="Lastname" required [(ngModel)]="myContact.sname">
                        </div>
                    </div>
                    <div class="form-group">
                        <legend>Email Address</legend>
                        <input type="text" class="form-control inputs-size" name="email" id="email" placeholder="Email" required [(ngModel)]="myContact.email">
                    </div>
                    <div class="form-group">
                        <legend>Your Message</legend>
                        <textarea id="message" class="form-control message" name="message" required [(ngModel)]="myContact.message"></textarea>
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                        Thanks for your Message!
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        please fill out all the fields!
                    </div>
                    <div class="form-group">
                        <button type="submit" class ="btn btn-info">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Segment Footer -->
<footer id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-lg-8 align-self-center">
                <span class="for-small-size">Developed by : Pablo César Córdova Morales </span>
                <span class="web-source">Source Code:
                    <a href="https://github.com/pablocordova/my-own-webpage-updated" target="_blank">Github</a> 
                </span>
            </div>
        </div>
    </div>
</footer>